/* FlexBox Mixins */
/* Animation Mixins */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Nanum';
  src: url("../fonts/NanumMyeongjo-Regular.eot"), url("../fonts/NanumMyeongjo-Regular.ttf") format("truetype"), url("../fonts/NanumMyeongjo-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Nanum';
  src: url("../fonts/NanumMyeongjo-Bold.eot"), url("../fonts/NanumMyeongjo-Bold.ttf") format("truetype"), url("../fonts/NanumMyeongjo-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Nanum';
  src: url("../fonts/NanumMyeongjo-ExtraBold.eot"), url("../fonts/NanumMyeongjo-ExtraBold.ttf") format("truetype"), url("../fonts/NanumMyeongjo-ExtraBold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
h1 {
  font-family: 'Baskerville';
  font-style: italic;
  font-weight: 400;
  font-size: 4em;
  margin: 0; }

h2 {
  font-family: 'Baskerville';
  font-size: 2.35em;
  font-weight: 400;
  font-style: italic;
  margin: 0; }

h3 {
  font-family: 'Baskerville';
  font-size: 1.35em;
  font-weight: 400;
  margin: 0; }

p {
  font-family: 'Nanum';
  color: #383838;
  margin: 12px 0px; }

body {
  font-size: 16px;
  font-family: Helvetica;
  color: #F3C078; }

.hidden {
  opacity: 0; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%; }
  .container .navbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    height: 60px;
    width: 100%;
    padding: 12px 60px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F3C078; }
    .container .navbar .navbar-item {
      position: relative;
      margin: auto 0px;
      width: auto;
      cursor: pointer;
      text-align: center; }
  .container main {
    width: 100%; }
    .container main section {
      position: relative;
      height: 100%;
      width: 100%; }
    .container main section#landing {
      padding: 30px 0; }
      .container main section#landing div.landing-gold-background {
        height: 100%;
        width: 100%;
        padding: 30px 0;
        background-color: rgba(243, 192, 120, 0.4); }
        .container main section#landing div.landing-gold-background div#landing-image {
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: top center;
          background-repeat: no-repeat;
          background-image: url("../images/wedding-lights.png"); }
          .container main section#landing div.landing-gold-background div#landing-image div.gold-mask {
            width: 100%;
            height: 100%;
            background-color: rgba(243, 192, 120, 0.4);
            color: #F3C078; }
      .container main section#landing div.landing-page-headline {
        position: absolute;
        left: 50px;
        bottom: 100px;
        height: auto;
        width: auto;
        text-align: center; }
        .container main section#landing div.landing-page-headline h2 {
          font-family: 'Nanum';
          color: #FFFFFF; }
    .container main section#couple {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 120px; }
      .container main section#couple div.couple-image-container {
        height: 100%;
        margin-right: 100px;
        width: 400px; }
        .container main section#couple div.couple-image-container div.couple-image {
          height: 100%;
          background-size: cover;
          background-position: top center;
          background-repeat: no-repeat;
          background-image: url("../images/thecouple.png"); }
          .container main section#couple div.couple-image-container div.couple-image div.gold-mask {
            width: 100%;
            height: 100%;
            background-color: rgba(243, 192, 120, 0.4);
            color: #F3C078; }
      .container main section#couple div.couple-desc {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 400px; }
        .container main section#couple div.couple-desc div.couple-header {
          margin-top: 50px;
          text-align: right; }
    .container main section#event-details {
      padding: 60px 120px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #115A3C;
      text-align: center; }

/*# sourceMappingURL=main.css.map */
