/* FlexBox Mixins */
/* Animation Mixins */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Nanum';
  src: url("../fonts/NanumMyeongjo-Regular.eot"), url("../fonts/NanumMyeongjo-Regular.ttf") format("truetype"), url("../fonts/NanumMyeongjo-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Nanum';
  src: url("../fonts/NanumMyeongjo-Bold.eot"), url("../fonts/NanumMyeongjo-Bold.ttf") format("truetype"), url("../fonts/NanumMyeongjo-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Nanum';
  src: url("../fonts/NanumMyeongjo-ExtraBold.eot"), url("../fonts/NanumMyeongjo-ExtraBold.ttf") format("truetype"), url("../fonts/NanumMyeongjo-ExtraBold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
h1 {
  font-family: 'Baskerville';
  font-style: italic;
  font-weight: 400;
  font-size: 6em;
  margin: 0; }

h2 {
  font-family: 'Baskerville';
  font-size: 4em;
  font-weight: 400;
  font-style: italic;
  margin: 0; }

h3 {
  font-family: 'Baskerville';
  font-size: 2em;
  font-weight: 400;
  margin: 0; }

p {
  font-family: 'Nanum';
  font-size: 1.35em;
  color: #383838;
  margin: 1em 0px;
  font-weight: 100; }

body {
  font-size: 12px;
  font-family: Helvetica;
  color: #F3C078; }

.hidden {
  opacity: 0; }

#navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  height: 60px;
  width: 100%;
  padding: 12px 60px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F3C078;
  border-top: 1px solid #F3C078; }
  #navbar .navbar-item {
    position: relative;
    margin: auto 0px;
    width: auto;
    cursor: pointer;
    text-align: center; }

.navbar-fixed {
  position: fixed !important;
  top: 0px; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%; }
  .container main {
    width: 100%; }
    .container main section {
      position: relative;
      height: 100%;
      width: 100%; }
    .container main section#landing {
      padding: 30px 0; }
      .container main section#landing div.landing-gold-background {
        height: 100%;
        width: 100%;
        padding: 30px 0;
        background-color: rgba(243, 192, 120, 0.4); }
        .container main section#landing div.landing-gold-background div#landing-image {
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: bottom center;
          background-repeat: no-repeat;
          background-image: url("../images/landing-image.jpg"); }
          .container main section#landing div.landing-gold-background div#landing-image div.gold-mask {
            width: 100%;
            height: 100%;
            background-color: rgba(243, 192, 120, 0.4);
            color: #F3C078; }
      .container main section#landing div.landing-page-headline {
        position: absolute;
        right: 4em;
        bottom: 8em;
        height: auto;
        width: auto;
        text-align: center; }
        .container main section#landing div.landing-page-headline h2 {
          font-family: 'Nanum';
          color: #FFFFFF; }
    .container main section#couple {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 120px; }
      .container main section#couple div.couple-image-container {
        height: 100%;
        margin: 0 4em;
        width: 400px; }
        .container main section#couple div.couple-image-container div.couple-image {
          height: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url("../images/thecouple3.jpg"); }
          .container main section#couple div.couple-image-container div.couple-image div.gold-mask {
            width: 100%;
            height: 100%;
            background-color: rgba(243, 192, 120, 0.4);
            color: #F3C078; }
      .container main section#couple div.couple-desc {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 4em;
        width: 400px; }
        .container main section#couple div.couple-desc div.couple-header {
          margin-top: 50px;
          text-align: right; }
        .container main section#couple div.couple-desc div.couple-address {
          text-align: left; }
    .container main section#event-details {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 3em 10em;
      height: auto;
      background-color: #115A3C;
      text-align: center; }
      .container main section#event-details div.event-details-header {
        margin: 2em auto; }
        .container main section#event-details div.event-details-header svg {
          margin-top: 0.5em; }
      .container main section#event-details div.event-details-menu {
        margin: 2em auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        text-align: center; }
        .container main section#event-details div.event-details-menu div.event-details-menu-item {
          padding: 12px 24px;
          cursor: pointer; }
          .container main section#event-details div.event-details-menu div.event-details-menu-item h3 {
            color: #FFFFFF; }
        .container main section#event-details div.event-details-menu div.event-details-menu-item.selected {
          border-bottom: 1px solid #F3C078; }
          .container main section#event-details div.event-details-menu div.event-details-menu-item.selected h3 {
            color: #F3C078; }
      .container main section#event-details div#event-details-item-christian {
        display: none; }
      .container main section#event-details div.event-details-item div.event-details-venue {
        margin: 2em auto; }
        .container main section#event-details div.event-details-item div.event-details-venue p {
          margin: 0;
          font-size: 2em;
          color: #FFFFFF; }
      .container main section#event-details div.event-details-item div.event-details-venue-logo {
        margin: 5em 0; }
      .container main section#event-details div.event-details-item div.event-details-timeline {
        margin: 5em auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .container main section#event-details div.event-details-item div.event-details-timeline div.event-details-timeline-section {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0 2em;
          height: auto;
          width: 400px; }
          .container main section#event-details div.event-details-item div.event-details-timeline div.event-details-timeline-section div.event-details-timeline-item {
            padding: 1em 0; }
            .container main section#event-details div.event-details-item div.event-details-timeline div.event-details-timeline-section div.event-details-timeline-item p {
              margin: 0;
              margin-top: 1em;
              color: #FFFFFF; }
        .container main section#event-details div.event-details-item div.event-details-timeline div.event-details-timeline-section:first-child {
          text-align: right;
          border-right: 1px solid #F3C078; }
        .container main section#event-details div.event-details-item div.event-details-timeline div.event-details-timeline-section:nth-child(2) {
          text-align: left; }
      .container main section#event-details div.event-details-item div.event-details-logo {
        margin: 5em 0; }
    .container main section#rsvp {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 3em 10em;
      height: auto;
      background-color: #383838;
      text-align: center; }
      .container main section#rsvp div.rsvp-card {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 600px;
        text-align: center; }
        .container main section#rsvp div.rsvp-card div.rsvp-border {
          padding: 2em 0; }
        .container main section#rsvp div.rsvp-card form {
          padding: 2em 0; }
          .container main section#rsvp div.rsvp-card form input[type="text"] {
            margin: 0.5em 0;
            padding: 1em 0.5em;
            width: 100%;
            font-size: 1.5em;
            background-color: #383838;
            border: none;
            border-bottom: 1px solid #F3C078; }
            .container main section#rsvp div.rsvp-card form input[type="text"]::-webkit-input-placeholder {
              color: #F3C078;
              font-weight: 100; }
            .container main section#rsvp div.rsvp-card form input[type="text"]:-moz-placeholder {
              color: #F3C078;
              font-weight: 100; }
            .container main section#rsvp div.rsvp-card form input[type="text"]::-moz-placeholder {
              color: #F3C078;
              font-weight: 100; }
            .container main section#rsvp div.rsvp-card form input[type="text"]:-ms-input-placeholder {
              color: #F3C078;
              font-weight: 100; }
          .container main section#rsvp div.rsvp-card form input[type="submit"] {
            margin-top: 0.5em;
            padding: 1em 0.5em;
            width: 100%;
            background-color: #F3C078;
            color: #383838;
            font-size: 1.5em;
            font-family: Nanum;
            font-weight: 700;
            border-radius: 5px;
            border: 1px solid #FFFFFF; }
          .container main section#rsvp div.rsvp-card form input:focus {
            outline: none; }

/*# sourceMappingURL=main.css.map */
