/* FlexBox Mixins */
/* Animation Mixins */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-family: 'Merriweather', serif, 'Baskerville';
  font-weight: 300;
  font-size: 2em;
  margin: 0; }

h2 {
  font-family: 'Merriweather', serif, 'Baskerville';
  font-size: 1.35em;
  font-weight: 300;
  margin: 0; }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  font-weight: 300;
  margin: 0; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85em;
  color: #030301;
  margin: 1em 0px;
  font-weight: 100; }

body {
  font-size: 12px;
  font-family: Helvetica;
  color: #F3C078; }

.hidden {
  opacity: 0; }

#navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  height: 36px;
  width: 100%;
  padding: 12px 60px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F3C078; }
  #navbar .navbar-item {
    position: relative;
    margin: 0 4em;
    width: auto;
    cursor: pointer;
    text-align: center; }
    #navbar .navbar-item p {
      margin: 0;
      font-family: 'Merriweather', serif;
      color: #F3C078;
      font-weight: 300;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
    #navbar .navbar-item p:hover {
      color: #6F5837; }

.navbar-fixed {
  position: fixed !important;
  top: 0px; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%; }
  .container main {
    width: 100%; }
    .container main section {
      position: relative;
      padding: 3em 10em;
      height: 100%;
      width: 100%;
      border-top: 1px solid #F7D6A9;
      border-bottom: 1px solid #F7D6A9; }
    .container main section.extra-margin {
      margin-top: 50px; }
    .container main section#landing {
      padding: 30px 0; }
      .container main section#landing div.landing-gold-background {
        height: 100%;
        width: 100%;
        padding: 30px 0;
        background-color: #FCF3E6;
        border-top: 1px solid #FBFBF4;
        border-bottom: 1px solid #FBFBF4; }
        .container main section#landing div.landing-gold-background div#landing-image {
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: bottom center;
          background-repeat: no-repeat;
          background-image: url("../images/landing-image.jpg");
          border-top: 1px solid #F7D6A9;
          border-bottom: 1px solid #F7D6A9; }
          .container main section#landing div.landing-gold-background div#landing-image div.gold-mask {
            width: 100%;
            height: 100%;
            background-color: rgba(243, 192, 120, 0.2); }
      .container main section#landing div.landing-page-headline {
        position: absolute;
        padding: 2em 2em;
        top: 18em;
        right: 12em;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid #F7D6A9;
        height: auto;
        width: 200px;
        text-align: center; }
        .container main section#landing div.landing-page-headline h1 {
          color: #FBFBF4; }
        .container main section#landing div.landing-page-headline p {
          font-size: 1.35em;
          color: #F7D6A9; }
    .container main section#couple {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0;
      background-color: #1E152A; }
      .container main section#couple div.couple-image-container {
        height: 100%;
        margin: 0 3em;
        width: 450px;
        border-left: 1px solid #F3C078;
        border-right: 1px solid #F3C078; }
        .container main section#couple div.couple-image-container div.couple-image {
          height: 100%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url("../images/thecouple3.jpg"); }
          .container main section#couple div.couple-image-container div.couple-image div.gold-mask {
            width: 100%;
            height: 100%;
            background-color: rgba(243, 192, 120, 0.4);
            color: #F3C078; }
      .container main section#couple div.couple-desc {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 3em;
        margin-top: -4em;
        width: 400px; }
        .container main section#couple div.couple-desc div.couple-header {
          -webkit-animation-delay: 800ms;
          -moz-animation-delay: 800ms;
          -ms-animation-delay: 800ms;
          -o-animation-delay: 800ms;
          animation-delay: 800ms;
          margin-bottom: 4em;
          text-align: left; }
        .container main section#couple div.couple-desc div.couple-address {
          -webkit-animation-delay: 1.6s;
          -moz-animation-delay: 1.6s;
          -ms-animation-delay: 1.6s;
          -o-animation-delay: 1.6s;
          animation-delay: 1.6s;
          text-align: left; }
        .container main section#couple div.couple-desc div.couple-desc-writeup {
          -webkit-animation-delay: 1.6s;
          -moz-animation-delay: 1.6s;
          -ms-animation-delay: 1.6s;
          -o-animation-delay: 1.6s;
          animation-delay: 1.6s; }
          .container main section#couple div.couple-desc div.couple-desc-writeup p {
            color: #FBFBF4;
            margin: 1em 0; }
        .container main section#couple div.couple-desc div.couple-signature {
          -webkit-animation-delay: 2.4s;
          -moz-animation-delay: 2.4s;
          -ms-animation-delay: 2.4s;
          -o-animation-delay: 2.4s;
          animation-delay: 2.4s;
          margin-top: 4em;
          text-align: right; }
    .container main section#event-details {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      height: auto;
      text-align: center; }
      .container main section#event-details div.event-details-header {
        margin: 2em auto; }
        .container main section#event-details div.event-details-header img {
          margin-top: -0.5em; }
      .container main section#event-details div.event-details-menu {
        margin: 2em auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        text-align: center; }
        .container main section#event-details div.event-details-menu div.event-details-menu-item {
          padding: 12px 24px;
          cursor: pointer; }
          .container main section#event-details div.event-details-menu div.event-details-menu-item h3 {
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease; }
          .container main section#event-details div.event-details-menu div.event-details-menu-item h3:hover {
            color: #F3C078; }
        .container main section#event-details div.event-details-menu div.event-details-menu-item.selected {
          border-bottom: 1px solid #F3C078; }
          .container main section#event-details div.event-details-menu div.event-details-menu-item.selected h3 {
            color: #F3C078; }
      .container main section#event-details div#event-details-item-christian {
        display: none; }
      .container main section#event-details div.event-details-item div.event-details-venue {
        margin: 2em auto; }
        .container main section#event-details div.event-details-item div.event-details-venue h3 {
          margin: 0; }
      .container main section#event-details div.event-details-item div.event-details-venue-logo {
        margin: 4em 0; }
      .container main section#event-details div.event-details-item div.event-details-timeline {
        margin: 4em auto;
        margin-top: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .container main section#event-details div.event-details-item div.event-details-timeline div.event-details-timeline-section {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          padding: 0 2em;
          height: auto;
          text-align: left; }
          .container main section#event-details div.event-details-item div.event-details-timeline div.event-details-timeline-section div.event-details-timeline-time {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 1em 0;
            padding-right: 4em;
            border-right: 1px solid #F3C078; }
          .container main section#event-details div.event-details-item div.event-details-timeline div.event-details-timeline-section div.event-details-timeline-details {
            padding: 1em 0;
            padding-left: 4em;
            width: 600px; }
            .container main section#event-details div.event-details-item div.event-details-timeline div.event-details-timeline-section div.event-details-timeline-details p {
              margin: 0; }
      .container main section#event-details div.event-details-item div.event-details-logo {
        margin: 5em 0; }
    .container main section#event-details.hindu {
      background-color: #12424E; }
      .container main section#event-details.hindu p, .container main section#event-details.hindu h3 {
        color: #FFFFFF; }
    .container main section#event-details.christian {
      background-color: #FBFBF4; }
      .container main section#event-details.christian p, .container main section#event-details.christian h3 {
        color: #030301; }
    .container main section#accommodations div.accommodations-header {
      text-align: center;
      margin: 2em auto; }
      .container main section#accommodations div.accommodations-header img {
        margin-top: -0.5em; }
    .container main section#rsvp {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      background-color: #FFFFFF;
      text-align: center; }
      .container main section#rsvp div.rsvp-card {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 600px;
        text-align: center; }
        .container main section#rsvp div.rsvp-card div.rsvp-border {
          padding: 2em 0; }
        .container main section#rsvp div.rsvp-card form {
          padding: 2em 0; }
          .container main section#rsvp div.rsvp-card form input[type="text"] {
            margin: 0.5em 0;
            padding: 0.5em;
            width: 100%;
            font-size: 1em;
            background-color: #030301;
            border: none;
            border-bottom: 1px solid #F3C078; }
            .container main section#rsvp div.rsvp-card form input[type="text"]::-webkit-input-placeholder {
              color: #F3C078;
              font-weight: 100; }
            .container main section#rsvp div.rsvp-card form input[type="text"]:-moz-placeholder {
              color: #F3C078;
              font-weight: 100; }
            .container main section#rsvp div.rsvp-card form input[type="text"]::-moz-placeholder {
              color: #F3C078;
              font-weight: 100; }
            .container main section#rsvp div.rsvp-card form input[type="text"]:-ms-input-placeholder {
              color: #F3C078;
              font-weight: 100; }
          .container main section#rsvp div.rsvp-card form div#rsvp-submit-btn {
            margin: 0 auto;
            margin-top: 1.5em;
            padding: 1em 0.5em;
            width: 300px;
            background-color: #F3C078;
            color: #030301;
            font-size: 1em;
            font-weight: 700;
            border-radius: 5px;
            border: 1px solid #F7D6A9; }
          .container main section#rsvp div.rsvp-card form input:focus {
            outline: none; }

/*# sourceMappingURL=main.css.map */
