$gold: #F3C078;
$light-gold: #F7D6A9;
$dark-gold: #6F5837;
$landing-page-background: #FCF3E6;

$grey: #E3E3E3;
$dark-grey: #545F66;
$off-white: #FBFBF4;
$white: #FFFFFF;

$light-black: #757574;
$black: #030301;

$purple: #1E152A;
$emerald: #12424E;
$navy: #235789;
$maroon: #32021F;