$gold: #F3C078;
$light-gold: #F7D6A9;

$heading-text-color: #191716;
$border-color: #F3F3F3;
$body-text: #191716;
$landing-page-background: #FCF3E6;
$landing-page-headline-border: #F7D6A9;

// None of the bg colors are used, but keeping it here for reference

// $event-hindu-background: #B6DCFE;
// $event-christian-background: #F9F8F8;
// $accommodations-background: #F3B1B5;
// $rsvp-background: #3A405A;

$landing-page-header-text: #F9F8F8;
$couple-heading-text: #F5CB90;

$event-hindu-heading-text: #12424E;
$event-christian-heading-text: #F5CB90;
$accommodations-heading-text: #F5CB90;
$rsvp-heading-text: #12424E;

$grey: #E3E3E3;
$dark-grey: #545F66;
$white: #FFFFFF;