$gold: #F3C078;
$light-gold: #F7D6A9;

$heading-text-color: #191716;
$border-color: #E0E0E0;
$body-text: #0F1108;
$landing-page-background: #FCF3E6;
$landing-page-headline-border: #F7D6A9;

$couple-background: #DEC5E3;
$couple-heading-text: #832161;
$couple-text: #0F1108;

$event-hindu-background: #B6DCFE;
$event-hindu-heading-text: #33658A;

$event-christian-background: #F9F8F8;
$event-christian-heading-text: #F5CB90;

$accommodations-background: #F3B1B5;
$accommodations-heading-text: #DB5461;

$rsvp-background: #3A405A;
$rsvp-heading-text: #FFFFFF;

$grey: #E3E3E3;
$dark-grey: #545F66;
$off-white: #F9F8F8;
$white: #FFFFFF;

$light-black: #757574;
$off-black: #1B1725;
$black: #030301;