@import "mixins";

$gold: #F3C078;
$light-grey: #E2E2E2;
$black: #383838;
$off-white: #FFFCEF;
$white: #FFFFFF;
$emerald: #115A3C;
$navy: #084369;

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Nanum';
	src: url('../fonts/NanumMyeongjo-Regular.eot'),
       url('../fonts/NanumMyeongjo-Regular.ttf') format('truetype'),
       url('../fonts/NanumMyeongjo-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Nanum';
	src: url('../fonts/NanumMyeongjo-Bold.eot'),
       url('../fonts/NanumMyeongjo-Bold.ttf') format('truetype'),
       url('../fonts/NanumMyeongjo-Bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Nanum';
	src: url('../fonts/NanumMyeongjo-ExtraBold.eot'),
       url('../fonts/NanumMyeongjo-ExtraBold.ttf') format('truetype'),
       url('../fonts/NanumMyeongjo-ExtraBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

h1 {
	font-family: 'Baskerville';
	font-style: italic;
	font-weight: 400;
	font-size: 6em;
	margin: 0;
}
h2 {
	font-family: 'Baskerville';
	font-size: 4em;
	font-weight: 400;
	font-style: italic;
	margin: 0;
}
h3 {
	font-family: 'Baskerville';
	font-size: 2em;
	font-weight: 400;
	margin: 0;
}
p {
	font-family: 'Nanum';
	font-size: 1.35em;
	color: $black;
	margin: 1em 0px;
	font-weight: 100;
}
body {
	font-size: 12px;
	font-family: Helvetica;
	color: $gold;
}
.hidden {
	opacity: 0;
}

.container {
	@include flex-display;
	@include flex-direction-row;
	width: 100%;

	.navbar {
		@include flex-display;
		@include flex-direction-row;
		@include justify-content(space-between);

		position: fixed;
		z-index: 10;
		height: 60px;
		width: 100%;
		padding: 12px 60px;
		background-color: $white;
		border-bottom: 1px solid $gold;

		.navbar-item {
			position: relative;
			margin: auto 0px;
			width: auto;

			cursor: pointer;
			text-align: center;
		}
	}

	main {
		width: 100%;

		section {
			position: relative;
			height: 100%;
			width: 100%;
		}
		section#landing {
			padding: 30px 0;

			div.landing-gold-background {
				height: 100%;
				width: 100%;
				padding: 30px 0;
				background-color: rgba(243, 192, 120, 0.4);

				div#landing-image {
					height: 100%;
					width: 100%;
					background-size: cover;
					background-position: top center;
					background-repeat: no-repeat;
					background-image: url('../images/wedding-lights.png');

					div.gold-mask {
						width:100%;
				  		height:100%;
				  		background-color:rgba(243, 192, 120, 0.4);
				  		color: $gold;
					}
				}
			}

			div.landing-page-headline {
				position: absolute;
				left: 48px;
				bottom: 100px;
				height: auto;
				width: auto;

				text-align: center;

				h2 {
					font-family: 'Nanum';
					color: $white;
				}
			}
		}

		section#couple {
			@include flex-display;
			@include flex-direction-row;
			@include justify-content(space-between);
			@include flex-wrap(wrap);
			@include flex-align-items(center);
			padding: 0 120px;

			div.couple-image-container {
				height: 100%;
				margin-right: 100px;
				width: 400px;

				div.couple-image {
					height: 100%;
					background-size: cover;
					background-position: top center;
					background-repeat: no-repeat;
					background-image: url('../images/thecouple.png');

					div.gold-mask {
						width:100%;
				  		height:100%;
				  		background-color:rgba(243, 192, 120, 0.4);
				  		color: $gold;
					}
				}
			}

			div.couple-desc {
				@include flex-display;
				@include flex-direction-column;
				
				width: 400px;

				div.couple-desc-writeup {

				}

				div.couple-header {
					margin-top: 50px;
					text-align: right;
				}
			}
		}

		section#event-details {
			@include flex-display;
			@include flex-direction-column;

			padding: 3em 10em;
			height: auto;
			background-color: $emerald;
			text-align: center;

			div.event-details-header {
				margin: 2em auto;
				
				svg {
					margin-top: 0.5em;
				}
			}
			
			div.event-details-menu {
				margin: 2em auto;
				@include flex-display;
				@include flex-direction-row;
				text-align: center;

				div.event-details-menu-item {
					padding: 12px 24px;
					cursor: pointer;
					h3 {
						color: $white;
					}
				}
				div.event-details-menu-item.selected {
					border-bottom: 1px solid $gold;
					
					h3 {
						color: $gold;
					}
				}
			}

			div#event-details-item-christian {
				display: none;
			}

			div.event-details-item {

				div.event-details-venue {
					margin: 2em auto;

					p {
						margin: 0;
						font-size: 2em;
						color: $white;
					}
				}

				div.event-details-venue-logo {
					margin: 5em 0;
				}

				div.event-details-timeline {
					margin: 5em auto;
					@include flex-display;
					@include flex-direction-row;
					@include flex-wrap(wrap);
					@include justify-content(center);
					@include flex-align-items(center);

					div.event-details-timeline-section {
						@include flex-display;
						@include flex-direction-column;
						@include justify-content(center);
						@include flex-align-items(center);

						padding: 0 2em;
						height: auto;
						width: 400px;

						div.event-details-timeline-item {
							padding: 1em 0;
							p {
								margin: 0;
								margin-top: 1em;
								color: $white;
							}
						}
					}

					div.event-details-timeline-section:first-child {
						text-align: right;
						border-right: 1px solid $gold;
					}
					div.event-details-timeline-section:nth-child(2) {
						text-align: left;
					}
				}

				div.event-details-logo {
					margin: 5em 0;
				}
			}
		}

		section#rsvp {
			@include flex-display;
			@include flex-direction-row;
			@include justify-content(center);
			@include flex-align-items(center);

			padding: 3em 10em;
			height: auto;
			background-color: $black;
			text-align: center;

			div.rsvp-card {
				@include flex-display;
				@include flex-direction-column;
				
				max-width: 600px;
				text-align: center;

				div.rsvp-border {
					padding: 2em 0;
				}

				form {
					padding: 2em 0;

					input[type="text"] {

						@include placeholder {
							color: $gold;
							font-weight: 100;
						}
						margin: 0.5em 0;
						padding: 1em 0.5em;
						width: 100%;
						font-size: 1.5em;

						background-color: $black;
						border: none;
						border-bottom: 1px solid $gold;
					}

					input[type="submit"] {
						margin-top: 0.5em;
						padding: 1em 0.5em;
						width: 100%;

						background-color: $gold;
						color: $black;
						font-size: 1.5em;
						font-family: Nanum;
						font-weight: 700;
						border-radius: 5px;
						border: 1px solid $white;
					}

					input:focus {
						outline: none;
					}
				}
			}
		}
	}
}