@import "mixins";

$gold: #F3C078;
$light-gold: #F7D6A9;
$grey: #E3E3E3;
$off-white: #FBFBF2;
$white: #FFFFFF;
$black: #030301;
$emerald: #115A3C;
$navy: #235789;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Nanum';
	src: url('../fonts/NanumMyeongjo-Regular.eot'),
       url('../fonts/NanumMyeongjo-Regular.ttf') format('truetype'),
       url('../fonts/NanumMyeongjo-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Nanum';
	src: url('../fonts/NanumMyeongjo-Bold.eot'),
       url('../fonts/NanumMyeongjo-Bold.ttf') format('truetype'),
       url('../fonts/NanumMyeongjo-Bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Nanum';
	src: url('../fonts/NanumMyeongjo-ExtraBold.eot'),
       url('../fonts/NanumMyeongjo-ExtraBold.ttf') format('truetype'),
       url('../fonts/NanumMyeongjo-ExtraBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

h1 {
	font-family: 'Petit Formal Script', cursive, 'Baskerville';	
	font-weight: 400;
	font-size: 3em;
	margin: 0;
}
h2 {
	font-family: 'Petit Formal Script', cursive, 'Baskerville';
	font-size: 2em;
	font-weight: 400;
	margin: 0;
}
h3 {
	font-family: 'Roboto', sans-serif, 'Open Sans';
	font-size: 1.35em;
	font-weight: 400;
	margin: 0;
}
p {
	font-family: 'Roboto', sans-serif, 'Open Sans', sans-serif;
	font-size: 1.15em;
	color: $black;
	margin: 1em 0px;
	font-weight: 100;
}
body {
	font-size: 12px;
	font-family: Helvetica;
	color: $gold;
}
.hidden {
	opacity: 0;
}

#navbar {
	@include flex-display;
	@include flex-direction-row;
	@include justify-content(center);

	position: relative;
	z-index: 10;
	width: 100%;
	padding: 16px 60px;
	background-color: $white;
	border-bottom: 1px solid $light-gold;
	border-top: 1px solid $light-gold;

	.navbar-item {
		position: relative;
		margin: 0px auto;
		width: auto;

		cursor: pointer;
		text-align: center;
		p {
			margin: 0;
			font-family: 'Petit Formal Script', cursive;
			color: $gold;
			font-size: 1.25em;
		}
	}
}
.navbar-fixed {
	position: fixed !important;
	top: 0px;
}

.container {
	@include flex-display;
	@include flex-direction-row;
	width: 100%;

	main {
		width: 100%;

		section {
			position: relative;
			height: 100%;
			width: 100%;
		}
		section#landing {
			padding: 30px 0;

			div.landing-gold-background {
				height: 100%;
				width: 100%;
				padding: 30px 0;
				background-color: #FCF3E6;
				border-top: 1px solid $off-white;
				border-bottom: 1px solid $off-white;

				div#landing-image {
					height: 100%;
					width: 100%;
					background-size: cover;
					background-position: bottom center;
					background-repeat: no-repeat;
					background-image: url('../images/landing-image.jpg');
					border-top: 1px solid $light-gold;
					border-bottom: 1px solid $light-gold;

					div.gold-mask {
						width:100%;
				  		height:100%;
				  		background-color:rgba(243, 192, 120, 0.2);
					}
				}
			}

			div.landing-page-headline {
				position: absolute;
				right: 14em;
				top: 17em;
				height: auto;
				width: auto;

				text-align: center;

				h1 {
					font-size: 4em;
					color: $off-white;
				}
				p {
					font-size: 2em;
					color: $light-gold;
				}
			}
		}

		section#couple {
			@include flex-display;
			@include flex-direction-row;
			@include justify-content(center);
			@include flex-wrap(wrap);
			@include flex-align-items(center);
			
			background-color: $off-white;

			div.couple-image-container {
				height: 100%;
				margin: 0 3em;
				width: 450px;

				div.couple-image {
					height: 100%;
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
					background-image: url('../images/thecouple3.jpg');

					div.gold-mask {
						width:100%;
				  		height:100%;
				  		background-color:rgba(243, 192, 120, 0.4);
				  		color: $gold;
					}
				}
			}

			div.couple-desc {
				@include flex-display;
				@include flex-direction-column;
				
				margin: 0 3em;
				width: 400px;

				div.couple-desc-writeup {
					p {
						color: #757574;
					}
				}

				div.couple-header {
					margin-top: 1em;
					text-align: right;
				}
				div.couple-address {
					text-align: left;
				}
			}
		}

		section#event-details {
			@include flex-display;
			@include flex-direction-column;

			padding: 3em 10em;
			height: auto;
			background-color: $emerald;
			text-align: center;

			div.event-details-header {
				margin: 2em auto;
				
				svg {
					margin-top: 0.5em;
				}
			}
			
			div.event-details-menu {
				margin: 2em auto;
				@include flex-display;
				@include flex-direction-row;
				text-align: center;

				div.event-details-menu-item {
					padding: 12px 24px;
					cursor: pointer;
					h3 {
						color: $white;
					}
				}
				div.event-details-menu-item.selected {
					border-bottom: 1px solid $gold;
					
					h3 {
						color: $gold;
					}
				}
			}

			div#event-details-item-christian {
				display: none;
			}

			div.event-details-item {

				div.event-details-venue {
					margin: 2em auto;

					p {
						margin: 0;
						font-size: 1.35em;
						color: $white;
					}
				}

				div.event-details-venue-logo {
					margin: 4em 0;
				}

				div.event-details-timeline {
					margin: 4em auto;
					margin-top: 0;
					@include flex-display;
					@include flex-direction-column;
					@include flex-wrap(wrap);
					@include justify-content(center);
					@include flex-align-items(center);

					div.event-details-timeline-section {
						@include flex-display;
						@include flex-direction-row;
						@include flex-wrap(wrap);
						@include justify-content(center);

						padding: 0 2em;
						height: auto;
						text-align: left;

						div.event-details-timeline-time {
							@include flex-display;
							@include flex-direction-column;
							@include justify-content(center);
							@include flex-align-items(center);

							padding: 1em 0;
							padding-right: 4em;
							border-right: 1px solid $gold;
						}

						div.event-details-timeline-details {
							padding: 1em 0;
							padding-left: 4em;
							width: 600px;

							p {
								margin: 0;
								color: $white;
							}
						}
					}
				}

				div.event-details-logo {
					margin: 5em 0;
				}
			}
		}

		section#rsvp {
			@include flex-display;
			@include flex-direction-row;
			@include justify-content(center);
			@include flex-align-items(center);

			padding: 3em 10em;
			height: auto;
			background-color: $black;
			text-align: center;

			div.rsvp-card {
				@include flex-display;
				@include flex-direction-column;
				
				max-width: 600px;
				text-align: center;

				div.rsvp-border {
					padding: 2em 0;
				}

				form {
					padding: 2em 0;

					input[type="text"] {

						@include placeholder {
							color: $gold;
							font-weight: 100;
						}
						margin: 0.5em 0;
						padding: 0.5em;
						width: 100%;
						font-size: 1em;

						background-color: $black;
						border: none;
						border-bottom: 1px solid $gold;
					}

					div#rsvp-submit-btn {
						margin: 0 auto;
						margin-top: 1.5em;
						padding: 1em 0.5em;
						width: 300px;

						background-color: $gold;
						color: $black;
						font-size: 1em;
						font-family: Nanum;
						font-weight: 700;
						border-radius: 5px;
						border: 1px solid $light-gold;
					}

					input:focus {
						outline: none;
					}
				}
			}
		}
	}
}