@import "mixins";
@import "colors";

$landing-page-breakdown1: 1100px;
$couple-breakdown1: 1008px;
$couple-breakdown2: 532px;
$event-details-breakdown1: 907px;

@media (max-width: $landing-page-breakdown1) {
	main {
		section#landing {

			div.landing-page-headline {
				width: 320px;
				right: 50%;
				margin-right: -160px;
				margin-top: -165px;
			}
		}
	}
}

@media (max-width: $couple-breakdown1) {

	main {
		section#couple {

			padding: 4em 2em;
			height: auto;

			div.couple-image-container {
				margin: 0;
				height: 300px;
				width: 70%;
				border: 1px solid $gold;
			}

			div.couple-desc {
				margin: 2em 0;
				width: 70%;

				div.couple-header {
					margin-bottom: 1em;
				}

				div.couple-signature {
					margin-top: 1em;
				}
			}
		}
	}

}


@media (max-width: $couple-breakdown2) {

	main {
		section#couple {

			div.couple-image-container {
				width: 100%;
			}

			div.couple-desc {
				width: 100%;
			}
		}
	}

}

@media (max-width: $event-details-breakdown1) {
	
	main {
		section#event-details {
			div.event-details-item {
				div.event-details-timeline {
					div.event-details-timeline-section {

						margin: 1em 0;
						text-align: center;

						div.event-details-timeline-time {
							border-right: none;
							border-bottom: 1px solid $gold;
						}
						div.event-details-timeline-details {

						}
					}
				}
			}
		}
	}
}